body{
    margin: 0;
    padding: 0;
    background: cyan;
}
.content{
    display: flex;
    position: absolute;
    margin: auto;
    width: 50%;
    flex-direction: column;
    border: 3px solid green;
    top:50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    padding: 10px;
}
.search-box{
   display: inline;
   padding-left: 40px;
   padding-top: 10px;
}

#movie{
    width: 200px;
   background-color: aquamarine;
}

#disp{
    display: flex;
    align-self: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

}